# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages in Data Science
- List commonly used libraries in Data Science
- Table of Data Science tools
- Few examples of evaluating arthimetic expression in python

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia
4. SQL
5. JAVA

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot

| Data Science Tools |
| ------------------ |
| RStudio |
| Visual Studio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rahul Maramreddy